.menu {
  display: flex;
  margin: 50px 0 0 0;
  justify-content: center;
}
.menu-link {
padding: 10px;
}
.menu-link a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  margin: 20px;
  font-size: calc(14px + 0.5vw);
}

.menu-link a:hover {
  transition: 0.2s ease-in-out;
  color: rgb(94, 94, 94);
}
.selected {
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(94, 94, 94);
}